{% extends 'base.html' %}
{% block title %}
    Customer Actions
{% endblock %}
{% block content %}

<div class="container rounded bg-light mt-5 mb-5" style="color:black ">
    <div class="row">
        <div class="col-md-4 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="{{ url_for('static',filename='images/managerIcon.png') }}">
                    <span class="font-weight-bold">ID:{{session.customer.customerID}}</span>
                    <span class="font-weight-bold">{{session.customer.name}}</span>
                    <span class="text-black-50">{{session.customer.email}}</span>
                    
                </div>

        </div>
        <div class="col border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Customer Actions</h4>
                </div>
                <div class="row mt-3">
                    <button class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal"
                    data-bs-target="#S_Modal">View Bill</button>
                    <div class="modal fade" id="S_Modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Enter Credentials</h5>
                                </div>
                                <form method="POST" class="form-register" style="color:white">
                                    <input type="hidden" id="form-submit" name="form-submit" value="Submit form">
                                <div class="modal-body">
                                    
                                        {{form1.hidden_tag()}}
                                        <span class="d-block p-2 bg-dark text-white">{{form1.consignmentID.label()}}</span>
                                        {{form1.consignmentID(class = "form-control", placeholder = "Consignment ID")}}
                                        <br>
                                            {{ form1.submit(class="btn btn-lg btn-block btn-primary") }}
                                        
                                </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <a href="{{url_for('place_order')}}" class="btn btn-info btn-lg btn-block">Place Order</a>
                </div>
                <div class="row mt-3">
                    <a href="{{url_for('customer_orders_history')}}" class="btn btn-dark btn-lg btn-block">View Orders History</a>
                </div>
                <div class="row mt-3">
                    <button class="btn btn-info btn-lg btn-block" data-bs-toggle="modal"
                    data-bs-target="#Z_Modal">Track Consignment Status</button>
                    <div class="modal fade" id="Z_Modal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Enter Consignment ID</h5>
                                </div>
                                <form method="POST" class="form-register" style="color:white">
                                    <input type="hidden" id="form2-submit" name="form2-submit" value="Submit form">
                                <div class="modal-body">
                                    
                                        {{form2.hidden_tag()}}
                                        <span class="d-block p-2 bg-dark text-white">{{form2.consignmentID.label()}}</span>
                                        {{form2.consignmentID(class = "form-control", placeholder = "Enter Consignment ID")}}
                                        <br>
                                            {{ form2.submit(class="btn btn-lg btn-block btn-primary") }}
                                        
                                </div>
                                </form>
                                
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
{% endblock %}