{% extends "base.html" %}
{% block title %}
Order History (Branch: {{session.customer.branchID}})
{% endblock %}
{% block content %}
<h2> Consignments Sent</h2>
<table class="table table-hover table-dark">
    <thead class = "thead-dark">
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Consignment ID</th>
            <th scope="col">Volume</th>
            <th scope="col">Receiver Address</th>
            <th scope="col">Cost</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for consignment in sent %}
            <tr>
                <td>{{consignment.consignmentID}}</td>
                <td>{{consignment.volume}}</td>
                <td>{{consignment.destinationAddress}}</td>
                <td>{{consignment.revenue}}</td>
                <td>{{consignment.status}}</td>
            </tr>
        {%  endfor %}
    </tbody>
</table>
<h2> Consignments Received</h2>
<table class="table table-hover table-dark">
    <thead class = "thead-dark">
        <tr>
            <!-- Your Columns HERE -->
            <th scope="col">Consignment ID</th>
            <th scope="col">Volume</th>
            <th scope="col">Receiver Address</th>
            <th scope="col">Cost</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        {% for consignment in recv %}
            <tr>
                <td>{{consignment.consignmentID}}</td>
                <td>{{consignment.volume}}</td>
                <td>{{consignment.destinationAddress}}</td>
                <td>{{consignment.revenue}}</td>
                <td>{{consignment.status}}</td>
            </tr>
        {%  endfor %}
    </tbody>
</table>
{% endblock %}

                                        