{% extends 'base.html' %}
{% block title %}
Login customer
{% endblock %}
{% block content %}
<body class="text-center">
    <style>
        img{
            width: 20%;
        }
    </style>
    <div class="container">
        <br><br><br>
        <form method="POST" class="form-register" style="color:white">
            {{form.hidden_tag()}}
            <img class="mb-4" src="{{ url_for('static',filename='images/customer.png') }}" alt="">
            <br>
            <h4 class="text-left">Customer Login</h4>
            <span class="d-block p-2 bg-dark text-white">{{form.email.label()}}</span>
            {{form.email(class = "form-control", placeholder = "Email ID")}}
            <span class="d-block p-2 bg-dark text-white">{{form.password.label()}}</span>
            {{form.password(class = "form-control", placeholder = "Password")}}
            <br>
            <div class="checkbox mb-3">
                <h6>Do not have an account?</h6>
                <a class="btn btn-lg btn-secondary" href="{{ url_for('signup_customer') }}">Register</a>
             </div>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br><br><br><br><br>
        </form>
    </div>
</body>
{% endblock %}